@import url('https://fonts.googleapis.com/css?family=Roboto');

/** Css Reset */
html, body, div,
button, input, form, label,
h1,
ul, li {
	position: relative;

	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	outline: 0;

	font-family: 'Roboto', sans-serif;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	color: rgba(0, 0, 0, .5);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	display: block;
	z-index: 0;
}

html, body {
	width: 100%;
}

body {
	padding: 20 20 20 0px;
	overflow: visible;
	background-color: #FFF;
}

#canvasContainer {
	width: 550px;
	height: 320px;
	margin: 0 auto;
}
canvas {
	width: 100%;
	height: 100%;
}

.app-header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #00B0FF;
	padding: 0 20px;
	color: #fff;
	font-size: 22px;
	background-image: linear-gradient(to right top, #00b0ff, #00c6ff, #00d9f2, #00e8cd, #00f39c);
}

.app-form {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	padding: 20px;
	justify-content: center;
	z-index: 1;
}

.app-form > label,
.app-form > input,
.app-form > select {
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

.app-form > label {
	flex: 0 0 50px;
	padding: 0 10px;
	text-align: center;
	font-weight: bold;
}

.app-form > input, .app-form > select {
	margin: 0 5px;
	font-size: 16px;
	flex: 0 0 50px;
	width: 75px;
	text-indent: 5px;
	border: 3px solid rgba(0, 0, 0, .5);
	transition: border-color .2s ease-in-out;
}
.app-form > select {
	text-align-last: center;
	flex: 0 0 170px;
	text-indent: 0;
	padding: 0;
	border: 3px solid rgba(0, 0, 0, .5);
	transition: border-color .2s ease-in-out;
	overflow: hidden;
}

.app-form  > input:focus {
	border-color:#00B0FF;
}

.info {
	margin: 0 auto;
	width: 400px;
}
span {
	padding-right: 15px;
}
